html {
	background-image: url(Fondo.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: black;
}
#Introduccion {
	font-size: 20px;
	color: black;
}